# backend/.env
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=PSQL_USER
POSTGRES_PASSWORD=PSQL_PWD
POSTGRES_DB=PSQL_DB

SECRET_KEY=SECRET_KEY
FIRST_SUPERUSER=create_mail@ticketcine.com
FIRST_SUPERUSER_PASSWORD=CREATE_PASSWORD

REDIS_URL=redis://localhost:6379